.infoImg{
	float: right;
}

#infoSect3{
	padding-bottom: 5px;
	padding-top: 25px;
}

footer{
	margin-top: 75px;
}

@media (max-width: 450px){
	.infoImg{
		float: none;
	}
	
	.infoSection{
		padding-bottom: 5px;
	}
	
	#infoSect3{
		padding-top: 5px;
	}
	
	footer{
		margin-top: 0px;
	}
}

@media (min-width: 950px){
	.infoSection{
		padding-bottom: 80px;
	}
	
	footer{
		margin-top: 100px;
	}
}
